.custom-form-group {
  --pf-v6-c-form__field-group--BorderBlockEndWidth: 1px !important;
}

.custom-card-body {
  max-width: var(--pf-v6-c-form--m-limit-width--MaxWidth, 55rem);
}

.custom-page-section .pf-v6-c-page__main-body {
  max-width: var(--pf-v6-c-form--m-limit-width--MaxWidth, 55rem) !important;
}

.create_destination-page_section {
  padding-top: 0 !important;
  padding-bottom: 40px !important;
}

.create_destination-toolbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.create_destination-footer {
  margin-top: 0 !important;
}