.custom-gallery {
    /* --pf-l-gallery--GridTemplateColumns: repeat(auto-fill, minmax(150px, 1fr)) !important; */
    --pf-v6-l-gallery--GridTemplateColumns--min: 220px !important;
  }

  .custom-toolbar {
    --pf-v6-c-toolbar--m-sticky--BoxShadow: 0 0.5rem 0.5rem -0.375rem rgba(3, 3, 3, 0.18) !important;
    padding: .5rem 1rem 1rem 1rem !important;
     border-radius: 0.75rem 0.75rem 0 0 !important;
  }