.custom-switch{
margin-left: auto;
}
.custom-app-page {
    grid-template-columns: 100px 1fr !important;
}

.pf-v6-c-page__main-container {
    margin-left: 0 !important;
}
.custom-app-page__sidebar-body {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
}